.lead {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    font-size: 22px;
    line-height: 22px;
  }
}
