.offers {
  padding-top: 41px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 61px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    padding: 101px 0 100px;
    display: grid;
    grid-template-columns: min-content auto;
    width: 1160px;
    margin: 0 auto;
    column-gap: 40px;
  }
}

.offers__title {
  text-align: center;
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    grid-column: span 2;
    margin-bottom: 69px;
  }
}

.offers__link {
  color: inherit;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  text-underline-offset: 7px;
  padding-top: 3px;
  margin-top: auto;

  &--card {
    font-size: 14px;
    line-height: 14px;
    padding-top: 0;
  }
}

.offers__card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    padding: 0;
    flex-direction: column;
    margin: 0;
    margin-top: auto;
  }
}

.offers__card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  color: $primary-darker;
  border: 7px solid $red;
  padding: 21px 20px 25px;
  border-image: linear-gradient(130deg, $secondary-gradient);
  border-image-slice: 1;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    text-align: left;
    width: 324px;
    padding: 21px 40px 25px 20px;
    row-gap: 10px;
    min-height: 188px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    min-height: 174px;
  }
}

.offers__card h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__card p {
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

