/* здесь используйте глобальные переменные */
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

$base-darker: #102654;
$base-white: #ffffff;
$base-blue: #103aae;
$base-black: #030a1a;

$base-gradient: #ed0233 0%, #003eb7 100%;
$primary-gradient: #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%;
$secondary-gradient: #d10a42 0%, #00359F 100%;

$primary-darker: #1c3374;
$dark-red: #d10a42;
$light-blue: #f8f9fc;
$light-grey: #e8e8e8;;
$focus-white: #ffffffcc;
$red: #ed0233;
$error: #ff121f;
$black: #000000;

$mobile: 320px;
$mobile-only: 767px;
$tablet: 768px;
$tablet-only: 1365px;
$desktop: 1366px;

